/* Загальні стилі для сторінки */
body {
    background-color: #f3e5f5; /* Ніжно-фіолетовий фон */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Стилі заголовка */
h1 {
    text-align: center;
    color: #4a148c; /* Темно-фіолетовий */
    margin: 20px 0;
    font-size: 2.5rem;
}

/* Стилі для форм */
form {
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 10px;
}

/* Інпут-поля */
input[type="text"],
input[type="url"],
select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #b39ddb;
    border-radius: 5px;
    width: 300px;
}

/* Кнопки */
button {
    background-color: #9575cd; /* Лавандовий */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #7e57c2; /* Трохи темніший відтінок */
}

/* Список закладок */
#bookmarks-list {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
}

/* Оформлення картки закладки */
.bookmark-item {
    background-color: #e1bee7; /* Світлий фіолетовий */
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Стилі для посилання */
.bookmark-item a {
    text-decoration: none;
    color: #311b92;
    font-weight: bold;
    font-size: 1.1rem;
}

.bookmark-item a:hover {
    text-decoration: underline;
}

/* Кнопки в картці закладки */
.bookmark-item button {
    margin-left: 5px;
}

/* Категорія біля закладки */
.category {
    font-style: italic;
    color: #6a1b9a;
    margin-left: 10px;
    font-size: 0.9rem;
}

/* Додаткові стилі для фільтраційних кнопок */
.filter-buttons {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    gap: 15px;
}

.filter-buttons button {
    background-color: #b39ddb; /* Світло-фіолетовий */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-buttons button:hover {
    background-color: #7e57c2; /* Трохи темніший */
}

/* Список категорій */
#category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.hidden {
    display: none;
}

/* Кнопки категорій */
.category-button {
    background-color: #9575cd;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button:hover {
    background-color: #7e57c2;
}

/* Стиль для активної категорії */
.category-button.active {
    background-color: #4a148c;
}
